// .hero-section {
//   background-image: url('/assets/dashboard_bg.jpg');
//   background-size: cover;
//   background-position: center;
//   height: calc(100vh - 64px); // Adjust if navbar height is different
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: white;
// }

// .overlay-content {
//   text-align: center;
//   background-color: rgba(0, 0, 0, 0.4); // semi-transparent black
//   padding: 2rem;
//   border-radius: 12px;
// }

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/dashboard_bg.jpg') center/cover no-repeat;
  color: #e373f0;
  text-align: center;
  padding: 100px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
   height: calc(75vh - 64px);
}

.overlay-content {
  max-width: 800px;
  margin: 0 auto;
}

.overlay-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.overlay-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #b6d5e3;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 0.5px;
}

